<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Document</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            min-height: 100vh; /* Thiết lập chiều cao tối thiểu của body là 100% của viewport */
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1; /* Đảm bảo main sẽ mở rộng để lấp đầy không gian còn trống giữa header và footer */
        }
        footer {
            padding-bottom: 0px;
            flex-shrink: 0; /* Ngăn footer bị co lại khi nội dung ít */
        }
        iframe {
            width: 100%;
            height: 620px;
            border: none; /* Loại bỏ đường viền của iframe */
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
            opacity: 1;
        }
    </style>
    <script>
        function showSearchBar() {
            var searchBar = document.getElementById("search-bar");
            var displayButton = document.getElementById("dropbtn");
            var all = document.getElementById("1");
            if (searchBar.style.display === "none") {
                searchBar.style.display = "block";
                displayButton.style.display = "none"
                all.style.display = "none"
            }
        }
        function cancelBar() {
            var searchBar = document.getElementById("search-bar");
            if (searchBar.style.display === "block") {
                searchBar.style.display = "none";
                displayButton.style.display = "block"
                all.style.display = "block"
            }
        }
    </script>
</head>

<body>
    <div th:fragment="header">
        <header>
            <div class="container-fluid" style="background-color: black; height: 20%;" >

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-7 ">
        
                        <a href="#" style=" font-family: 'Courier New', Courier, monospace; text-decoration: none; color: gray;"
                            onmouseover="this.style.color='white'; this.style.textDecoration='underline'"
                            onmouseout="this.style.color='gray'; this.style.textDecoration='none'">
                            GROUP BOOKSALE
                        </a>
        
                        <a href="#"
                            style=" font-family: 'Courier New', Courier, monospace ; text-decoration: none; color: white; "
                            onmouseover=" this.style.textDecoration='underline'" onmouseout=" this.style.textDecoration='none'">
                            |ONLINE BOOKSALE</a>
                    </div>
                    <div class="col-sm-3" style="text-align: right;">
                        <a href="#"
                            style="font-family: 'Courier New', Courier, monospace; text-decoration: none; color: white; font-size: small;"
                            onmouseover=" this.style.textDecoration='underline'"
                            onmouseout=" this.style.textDecoration='none'"><i class="fa-solid fa-phone"></i>
                            HotLine: 0901162097
                        </a>
                    </div>
                    <div class="col-sm-1"></div>
        
        
                </div>
                <div style="text-align: center;">
                    <hr style="width: 83%; height: 1px; border: none; background-color: white; margin: 0 auto;">
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-1 "></div>
                    <div class="col-sm-8 ">
                        <div class="row">
                            <div class="col-sm-5 " style="text-align: left;">
                                <a href="#"
                                    style="text-decoration: none; color: white;font-family: 'Courier New', Courier, monospace; font-size: xx-large;letter-spacing: 4px;">
                                    <i class="fa-solid fa-book-open"></i>ONLINE BOOKSALE </a>
                            </div>
                            <div class=" col-sm-7 ">
                                <div class="row" style="text-align: left;">
        
        
                                    <div class="col-sm-3 dropdown">
                                        <a href="#" style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">TẤT CẢ SÁCH</a>
                                        <div class="dropdown-content">
                                            <a href="#">Mục 1</a>
                                            <a href="#">Mục 2</a>
                                            <a href="#">Mục 3</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 dropdown">
                                        <a href="#" style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">THỂ LOẠI</a>
                                        <div class="dropdown-content">
                                            <a href="#">Thương hiệu 1</a>
                                            <a href="#">Thương hiệu 2</a>
                                            <a href="#">Thương hiệu 3</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#" style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">GIỚI
                                            THIỆU</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#" style="text-decoration: none; color: white; font-size: small;"
                                            onmouseover=" this.style.textDecoration='underline'"
                                            onmouseout=" this.style.textDecoration='none'">LIÊN HỆ</a>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col">
                                <a href="#" style="text-decoration: none; color: white; font-size: small;"
                                    onmouseover=" this.style.textDecoration='underline'"
                                    onmouseout=" this.style.textDecoration='none'"> <i class="fa-solid fa-user"></i>LOGIN/SIGN
                                    UP</a>
                            </div>
                            <div class="col">
                                <a href="#" style="text-decoration: none; color: white; font-size: small;"
                                    onmouseover=" this.style.textDecoration='underline'"
                                    onmouseout=" this.style.textDecoration='none'"><i class="fa-solid fa-cart-shopping"></i>GIỎ
                                    HÀNG</a>
                            </div>
                            <div class="col">
                                <a href="#" onclick="showSearchBar()"
                                    style="text-decoration: none; color: white; font-size: small;"><i
                                        class="fa-solid fa-magnifying-glass"></i></a>
                            </div>
        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11" id="search-bar" style="display: none; border: none;">
                        <input type="text" placeholder="Nhập từ khóa tìm kiếm" style="width: 1000px;">
                        <button onclick="cancelBar()" style="color: black; background-color: white;">Cancel</button>
                    </div>
                    
                </div>
            </div>
            
        </header>
    </div>
</body>

</html>