<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <div class="row" style="background-color: aquamarine;padding: 0px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-3" style="text-align-last: left;">
                <a href="mainPage.html" style="color: black; font-size: x-large;font-weight: bolder;font-size: 40px;">MuaBanSach.vn</a>
            </div>
            <div class="col-sm-4" style="padding-top: 10px;">
                <form action="" >
                    <input type="text" placeholder="Tìm kiếm" style="width: 60%;">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                    </button>
                </form>
            </div>
            <div class="col-sm-4" style="padding: 10px;">
              <div class="dropdown" style="display: inline;">
                <button type="button" style="background-color: aquamarine;border:aquamarine;color: black;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <strong style="color: black;">Tài khoản của bạn</strong>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="Login.html">Đăng nhập</a></li>
                  <li><a class="dropdown-item" href="Register.html">Đăng kí</a></li>
                </ul>
              </div>
              <div class="dropdown" style="display: inline;">
                <button type="button" style="background-color: aquamarine; border: aquamarine;color: black;" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  <strong style="color: black;">Giỏ hàng</strong>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Xem giỏ hàng</a></li>
                </ul>
              </div>
            </div>
          </div>
    </header>
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-4" style="padding-top: 0.5%;">
            <p style="display: inline;">HotLine:</p>
            <p style="color: green; display: inline;">0938 424 289</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <button><a href="mainPage.html" style="font-weight: bold;">Website Mua Bán Sách</a></button>/Đăng Nhập
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row" style="padding-top: 2%;">
        <div class="col-1"></div>
        <div class="col-9">
            <p style="font-size: 150%; display: inline;"><strong>Đăng nhập</strong>/</p>
            <button><a href="Register.html"><strong style="font-size: 150%; color: aquamarine;">Đăng kí</strong></a></button>
            <hr>
        </div>
        <div class="col-2"></div>
      </div>
      <div class="row" style="padding: 2%;">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="container mt-3">
                <form action="">
                  <div class="form-floating mb-3 mt-3">
                    <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    <label for="email">Email</label>
                  </div>
                  <div class="form-floating mt-3 mb-3">
                    <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                    <label for="pwd">Mật Khẩu</label>
                    <button style="padding-top: 2%;"><a href="MissPassword.html" style="font-weight: bold;">Quên mật khẩu?</a></button>
                  </div>
                  <div style="padding-left: 30%;padding-top: 5%;display: inline;">
                    <button type="submit" class="btn btn-primary" style="background-color: aquamarine;"><a href=""><strong style="color: black;">Đăng Nhập</strong></a></button>
                  </div>
                  <div style="padding-left: 10%;padding-top: 5%;display: inline;">
                    <button class="btn btn-primary" style="width: 15%; background-color: aquamarine;"><a href="Register.html" style="color: black;font-weight: bold ;">Tạo tài khoản</a></button>
                  </div>
                </form>
              </div>
        </div>
        <div class="col-3"></div>
      </div>
      <footer>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-9">
            <p style="padding-top: 5%;">Mua Sách Online Tại MuaBanSach.vn</p>
            <hr>
            <p>&copy; 2024 Tên Website Bán Sách. All rights reserved.</p>
              <p>
                  <a href="#">Trang chủ</a>
                  <a href="#">Sách Mới</a>
                  <a href="#">Sách Bán Chạy</a>
                  <a href="#">Liên Hệ</a>
              </p>
          </div>
          <div class="col-sm-2"></div>
        </div> 
      </footer>
</body>
</html>