<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/IconFont/themify-icons-font/themify-icons/themify-icons.css">
    <title>Mua bán sách</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div class="container">
                <div id="Logo">
                    <a href="http://127.0.0.1:5500/">MuaBanSach.vn
                </div>
                <!--Begin: Menu button-->
                <div class="menu-btn">
                    <i class="menu-icon ti-menu"></i>
                </div>
                <!--End: Menu button-->
                <!--Begin: Search button-->
                <div class="search-btn">
                    <i class="search-icon ti-search"></i>
                </div>
                <!--End: Search button-->
                <!--Begin: Shopping button-->
                <div class="shopping-btn">
                    <i class="shopping-icon ti-shopping-cart"></i>
                </div>
                <!--End: Shopping button-->
            </div>
        </div>
        <div id="slider">

        </div>
        <div id="content">
            <div id="container">
                <div class="d_path">
                    <div class="breadcrumbs">
                        <!-- Breadcrumb NavXT 7.0.2 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                                title="Go to Nobita.vn - Nhà Sách Trên Mạng." href="https://nobita.vn"
                                class="home"><span property="name">Nobita.vn - Nhà Sách Trên Mạng</span></a>
                            <meta property="position" content="1">
                        </span> / <span property="itemListElement" typeof="ListItem"><span property="name">IPM</span>
                            <meta property="position" content="2">
                        </span>
                    </div>
                </div>
            </div>
            <div id="container">
                <div id="blockmenu">
                    <h2>Nhà phát hành</h2>
                    <div class="menu">
                        <ul>
                            <li><a href="">Skybooks</a></li>
                            <li><a href="">Uất Trì Kim Hạnh</a></li>
                            <li><a href="">Chibooks</a></li>
                            <li><a href="">NS Huy Hoàng</a></li>
                            <li><a href="">Trí Việt</a></li>
                            <li><a href="">Pavicobooks</a></li>
                            <li><a href="">Công ty cổ phần Waka</a></li>
                            <li><a href="">PingNovel</a></li>
                            <li><a href="">Thái Hà</a></li>
                            <li><a href="">Alphabooks</a></li>
                            <li><a href="">Owlbooks</a></li>
                            <li><a href="">AZ VietNam</a></li>
                            <li><a href="">>WINGS BOOKS</a></li>
                            <li><a href="">Comicola</a></li>
                            <li><a href="">Nhã Nam</a></li>
                            <li><a href="">Windbooks</a></li>
                            <li><a href="">Việt Thư</a></li>
                            <li><a href="">Wing books</a></li>
                            <li><a href="">Công ty cổ phần ZGroup</a></li>
                            <li><a href="">Amak</a></li>
                            <li><a href="">Đinh Tị</a></li>
                        </ul>
                    </div>
                </div>
                <div id="blockcontent">
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="thumbnail">
                            <img src="book1.jpg" alt="Book 1">
                            <div class="caption">
                                <h4>Book 1</h4>
                                <p>Author: Author 1</p>
                                <p>Price: $10</p>
                                <p><a href="#" class="btn btn-primary" role="button">Mua ngay</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
                <p style="padding-top: 5%;">Mua Sách Online Tại MuaBanSach.vn</p>
                <hr>
                <p>&copy; 2024 Tên Website Bán Sách. All rights reserved.</p>
                <p>
                    <a href="#">Trang chủ</a>
                    <a href="#">Sách Mới</a>
                    <a href="#">Sách Bán Chạy</a>
                    <a href="#">Liên Hệ</a>
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </footer>


</body>

</html>