#m1 {
    width: 100%;
    height: 20%;
    background-color: rgb(231, 228, 228);
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
#h4sachmoi {
    margin: 10px;
    
}
.DuoiTieuDe {
   display: flex;
   flex-direction: row;
   
   
}
.show {
    width: 950px;
    height: 320px;
    float: left;
}